
.banner {
    &--logo {
        display: block;
        width: 140px;
    }
}
.swiper-slide {
    //Center slide text vertically
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper__slide {
    @include media-breakpoint-up(md) {
        max-height: 665px;
    }
    .swiper__content {
        padding-bottom: 85%;
        @include media-breakpoint-up(md) {
            padding-bottom: 32.5%;
        }
    }
}

.video {
    &__card {
        flex-direction: row;
        align-items: stretch;
        cursor: pointer;
        @include media-breakpoint-up(md) {
            flex-direction: column;
            align-items: initial;
        }
    }
    &__img > div{
        padding-bottom: 100%;
        @include media-breakpoint-up(md) {
            padding-bottom: 55%;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h5 {
            @include media-breakpoint-down(md) {
                font-size: 1rem !important;
            }
        }
    }
    .cs-listen {
        width: 40px;
        height: 40px;
        margin-left: 1rem;
        background-color: #dddddd;
        border-radius: 100%;
    
        &:hover {
            background-color: #d1e9ed;
            i {
                color: $primary;
            }
        }
    }
}

.hot{
    .swiper-wrapper {
        width: auto;
        padding-top: 1rem;
    }
    &__card {
        @include media-breakpoint-down(sm) {
            margin-right: -40px;
        }
        @include media-breakpoint-up(md) {
            transform: translateY(0);
            transition: transform .6s;
            &:hover {
                transform: translateY(-10px);
            }
        }
    }
    &__img{
        position: relative;
        > div{
            padding-bottom: 54.17%;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 10px;
            left: 10px;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: center;
            background-position-y: center;
            background-image: url(../../assets/images/icon/icon-star.svg);
        }
    }
    &__title {
        background-color: #81c6d2;
        text-align: center;
        color: $white;
        font-weight: bold;
        line-height: 1.75;
        max-height: 4.5rem;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    &__content {
        color: $black;
    }
    .card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .card-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 48px;
    }
}
