.register {
    @include media-breakpoint-up(md) {
        font-size: 1.25rem;
    }
    .form-check-label  {
        font-size: 1rem;
       &::before {
           border-color: #000;
       }
    }
    input[type=radio]:checked ~ label::before {
        background-color: #000;
    }
    .necessary::before {
        content: "*";
        color: $red;
    }
}
.member {
    .btn {
        border-radius: 32px;
        padding: 8px 40px;
    }
}
.btn-submit {
    width: 100%;
    cursor: pointer;
    background-color: $primary;
    color: #fff;
    border-radius: 34px;
    padding: 10px 16px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    @include media-breakpoint-up(md) {
        padding: 22px 0;
    }
    &:hover {
        color: #fff;
        background-color: $accent;
        transition: .5s ease-in-out;
    }
}
.register-bg {
    position: relative;
    &::after {
        @include media-breakpoint-up(md) {
            right: -10px;
        }
        @include media-breakpoint-up(lg) {
            content: "";
            width: 343px;
            padding-bottom: 236px;
            background-image: url(../../assets/images/regitser.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            right: -50px;
            bottom: -10px;
        }
    }
}
//訂單查詢
.member__order__item {
    &__content {
        padding: 98px 66px 0;
    }
    &__head {
        font-weight: bold;
        border-bottom: 1px solid #95b9bd;
        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }
    &__head, &__item{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        width: 100%;
        padding: .5rem 0;
        &-td {
            &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5) {
                width: 20%;
                @include media-breakpoint-up(md) {
                    width: 20%;
                }
            }
        }
    }
    &__item {
        padding: .5rem 0;
        border-bottom: 1px solid #95b9bd;
        @include media-breakpoint-up(md) {
            padding: 1.5rem 0;
        }
        
    }
}
//訂單資訊
.member {
    &__block {
        margin-bottom: 2rem;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    }
    &__title {
        color: #fff;
        background-color: $accent;
        font-size: 1.5rem;
        padding: 12px 32px;
        @include media-breakpoint-up(md) {
            font-size: 2rem;
            padding: 18px 65px;
        }
    }
    &__info {
        padding: 24px 40px;
        @include media-breakpoint-up(md) {
            padding: 48px 95px;
        }
    }
    &__info {
        dd,dt {
            line-height: 1.42857;
        }
        dd {
            margin-left:0;
        }
        .dl-horizontal dd:after,.dl-horizontal dd:before {
            content: " ";
            display:table;
        }
        .dl-horizontal dd:after{
            clear:both;
        }
        .dl-horizontal dt{
            float: left;
            clear: left;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 500;
            @include media-breakpoint-up(md) {
                width: 140px;
                font-size: 1.25rem;
            }
        }
        .dl-horizontal dd {
            margin-left: 100px;
            @include media-breakpoint-up(md) {
                margin-left: 180px;
                font-size: 1.25rem;
            }
        }
        .member__order__item {
            &__head, &__item {
                &-td {
                    &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
                        width: 25%;
                    }
                }
            }
        }
    }
    .deadline {
        color: red;
    }
}
//會員通知
.member__message__item {
    &__content {
        padding: 98px 66px 0;
    }
    &__head {
        font-weight: bold;
        border-bottom: 1px solid #95b9bd;
        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }
    &__head, &__item{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        width: 100%;
        padding: .5rem 0;
        &-td {
            &:nth-child(1) {
                width: 60%;
                @include media-breakpoint-up(md) {
                    width: 80%;
                    padding-left: 2rem;
                }
            }
            &:nth-child(2)  {
                width: 40%;
                @include media-breakpoint-up(md) {
                    width: 20%;
                }
            }
        }
    }
    &__item {
        cursor: pointer;
        padding: .5rem 0;
        border-bottom: 1px solid #95b9bd;
        @include media-breakpoint-up(md) {
            padding: 1.5rem 0;
        }
        &:hover {
            background-color: rgba(236, 241, 241, 0.9);
        }
    }
}
#memberMsg {
    .close {
        position: absolute;
        color: #000;
        margin: 0;
        text-align: right;
        right: 0;
        top: -6px;
        span {
            font-size: 2rem;
        }
    }
    .modal-header {
        background-color: #efefef;
        padding: 1.5rem 1rem;
    }
    .modal-body {
        background-color: #f6f6f6;
    }
    .modal-dialog {
        @include media-breakpoint-up(md) {
            max-width: 800px;
        }
    }
}
.modal-backdrop {
    background-color: transparent;
}