
//表格內文下展內容
.order__item {
    &__content {
        padding: 1rem 1.875rem;
        border-bottom: 1px solid #95b9bd;
    }
    &__head {
        font-weight: bold;
        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }
    &__head, &__item{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        width: 100%;
        padding: .5rem 0;
        &-td {
            &:nth-child(1) {
                width: calc((100% - 40px) * .40);
                @include media-breakpoint-up(md) {
                    width: calc((100% - 40px) * .20);
                }
            }
            &:nth-child(2){
                width: calc((100% - 40px) * .60);
                padding: 0 10px;
                @include media-breakpoint-up(md) {
                    width: calc((100% - 40px) * .80);
                }
            }
            &:nth-last-child(1) {
                width: 40px;
                @include media-breakpoint-up(md) {
                    width: 96px;
                }
            }
        }
    }
    .btn {
        padding: 0;
        @include media-breakpoint-up(md) {
            padding: 0.7rem 0.75rem;
        }
    }
}
//row
.order__row {
    &:not(:nth-last-of-type(1))  {
        border-bottom: solid 1px #95b9bd;
    }
    &--sum {
        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
        }
        > div {
            width: 60%;
            margin-left: auto;
            @include media-breakpoint-up(lg) {
                width: 40%;
            }
        }
    }
    &--btn {
        .btn {
            width: calc(50% - 24px);
            border-radius: 0;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
            @include media-breakpoint-up(md) {
                padding-top: 1.25rem;
                padding-bottom: 1.25rem;
            }
        }
        > div {
            width: 100%;
            margin-left: auto;
            @include media-breakpoint-up(md) {
                width: 50%;
            }
        }
    }
}
//表格
.order__form {
    input {
        width: 100%;
        height: 40px;
        border-radius: 2px;
        background-color: #ecf1f1;
        @include media-breakpoint-up(md) {
            width: 324px;
        }
    }
    .discount-widget .btn {
        position: absolute;
        top: 0;
        right: 15px;
        height: 40px;
        padding: 0;
        font-size: 25px;
        color: $red;
        background: none;
        border-radius: 0;
        border: none;
        transition: .3s;
        &:hover {
            color: $accent;
        }
    }
    &__inline {
        display: flex;
    }
    &--title {
        width: 50px;
        flex: 1 0 50px;
        @include media-breakpoint-up(md) {
            width: 150px;
            flex: 1 0 150px;
        }
    }
    &--content {
        width: calc(100% - 50px);
        flex: 1 0 auto;
        text-align: right;
        @include media-breakpoint-up(md) {
            width: calc(100% - 150px);
        }
    }
}
//填寫訂購資料頁
.order__block__shadow {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}
.order__form--padding {
    padding: .25rem 1.875rem;
}
.order__row--detail {
    @include media-breakpoint-up(md) {
        font-size: 1.25rem;
    }
}

.cartOrder {
    dd,dt {
        line-height: 1.42857;
    }
    dd {
        margin-left:0;
    }
    .dl-horizontal dd:after,.dl-horizontal dd:before {
        content: " ";
        display:table;
    }
    .dl-horizontal dd:after{
        clear:both;
    }
    .dl-horizontal dt{
        float: left;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 500;
        @include media-breakpoint-up(md) {
            width: 140px;
            font-size: 1.25rem;
        }
    }
    .dl-horizontal dd {
        margin-left: 100px;
        @include media-breakpoint-up(md) {
            margin-left: 180px;
            font-size: 1.25rem;
        }
    }
}
.order {
    input, textarea {
        border-radius: 5px;
        border: 1px solid #95b9bd;
    }
    .form-group {
        margin-bottom: .5rem;
        @include media-breakpoint-up(md) {
            margin-bottom: 2rem;
        }
    }
    label {
        @include media-breakpoint-up(md) {
            text-align: right;
        }
    }
}

.order__pay {
    position: relative;
    width: 100%;
    padding-bottom: 44%;
    >div {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-right: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        font-size: 2rem;
        padding-left: 50px;
        @include media-breakpoint-up(sm) {
            font-size: 3rem;
            padding-left: 100px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 90px;
            padding-left: 180px;
        }
    }
    &.success > div {
        color: $primary;
        background-image: url(../../assets/images/payorder_success.png);
    }
    &.fail > div {
        color: #595959;
        background-image: url(../../assets/images/payorder_fail.png);
    }
}
.order__row {
    input[type=radio] {
        display: none;
    }
    input[type=radio] ~ label {
        position: relative;
        cursor: pointer;
        flex: 1 0 auto;
    }
    input[type=radio] ~ label::before {
        content: "";
        display: inline-block;
        background-color: transparent;
        width: 24px;
        height: 24px;
        border: 2px solid $primary;
        border-radius: 100%;
        vertical-align: middle;
        margin-right: 0.25rem;
    }
    input[type=radio]:checked ~ label::before {
        background-color: $primary;
    }
    input[type=radio]:checked ~ label::after {
        content: "";
        position: absolute;
        left: 10px;
        top: 0;
        width: 9px;
        height: 19px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    
    input.form-control, textarea.form-control {
        border-radius: 5px;
        border: 1px solid #95b9bd;
    }
    .form-group {
        margin-bottom: .5rem;
        @include media-breakpoint-up(md) {
            margin-bottom: 2rem;
        }
    }
    
}