html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    font-weight: bold;
    margin: 0;
}
.modal-body {
    max-height: 90vh;
    overflow-y: auto;
}