.register-bg {
    position: relative;
    &::after {
        @include media-breakpoint-up(md) {
            right: -10px;
        }
        @include media-breakpoint-up(lg) {
            content: "";
            position: absolute;
            right: -50px;
            bottom: -10px;
            width: 300px;
            padding-bottom: 200px;
            background-image: url(../../assets/images/regitser.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}