.filter{
    height: 100%;
    &__bar {
        position: relative;
        white-space: nowrap;
        list-style: none;
        text-align: center;
        font-size: .75rem;
        overflow-x: auto;
        display: flex; //scroll-x

        @include media-breakpoint-up(md) {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            font-size: 1rem;
        }

        > li {
            cursor: pointer;
            transition: .3s;
            background-color: #efefef;
            color: #595959;
            margin: .5rem 0 2rem .25rem;
            padding:  6px 20px;
            border-radius: 50px;

            @include media-breakpoint-up(md) {
                width: 100%;
                margin: 0;
                padding:  1.25rem 0;
                border-radius: 0;
            }
            &.active, &:hover {
                background: #0094a4;
                color: $white;
            } 
        }
    }
    &__item {
        list-style: none;
        width: 100%;
        transition: .3s;
        box-shadow: 0 2px 4px 0 rgba(93, 93, 93, 0.4);
        border-bottom: solid 0.5px $light;
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            box-shadow: none;
            margin-bottom: 0;
            border-right: 0;;
            border-left: 0;;
        }

        &:hover {
            background-color: #fafafa;
        }
        > a {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 1.25rem 0;
            color: $black;
            text-decoration: none;
        }

        > a span:nth-of-type(1){
            width: 45px;
            flex-basis: 45px;
            margin-left: 1rem;
            margin-right: 2rem;
        }

        &--new {
            height: 45px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: center;
            background-position-y: center;
            background-image: url(../../assets/images/icon/icons-new.svg);

            order: -1;
        }
        &--date {
            width: 20px;
            flex-basis: 20px;
            order: 2;
            text-align: right;
            @include media-breakpoint-up(md) {
                width: 150px;
                flex-basis: 150px;
                order: 1;
                text-align: left;
            }
        }
        &--type {
            width: 120px;
            flex-basis: 120px;
            order: 1;
            @include media-breakpoint-up(md) {
                width: 150px;
                flex-basis: 150px;
                order: 2;
            }
        }
        &--title {
            flex:  1 0 100%;
            order: 3;
            padding: 10px 20px 0;
            @include media-breakpoint-up(md) {
                flex-basis: 0;
                order: 3;
                padding: 0;
            }
        }
    }
}