.cs-nav[data-style="1"] {
    .nav__bar {
        position: relative;
        white-space: nowrap;
        list-style: none;
        text-align: center;
        overflow-x: auto;

        > li {
            width: calc(100% / 3);
            @include media-breakpoint-up(md) {
                width: 16.66%;
            }
        }
        a.nav-link {
            cursor: pointer;
            transition: .3s;
            background-color: #e1e1e1;
            color: #595959;
            border-radius: 0;
            padding-top: 1rem;
            padding-bottom: 1rem;

            &.active, &:hover {
                background: #0094a4;
                color: $white;
            } 
        }
    }
    .nav__content {
        background-color: $secondary;
        height: auto;
        p {
            margin-bottom: 0.5rem;
        }
    }
}