//buycourse sidebar
.cs-side[data-style="1"] {
    .side {
        &__item {
            border: solid 0.5px #dee2e6;
        }
        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #4e6f9b;
            height: 50px;
            padding: 0 1rem;
            cursor: pointer;
            &::before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                margin-right: 1rem;
                background-image: url(../../assets/images/icon/icon-book.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            i {
                transition: transform .3s;
                transform: rotate(-90deg);
            }
        }
        &__box {
            width: 100%;
            height: auto;
            overflow: hidden;
            transition: max-height;
            transition-duration: .3s;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            max-height: 0;
            background-color: #f7f9ff;
            padding: 0 3.25rem;
            > li {
                margin-bottom: .75rem;
            }
            > li:nth-of-type(1) {
                margin-top: 1rem;
            }
            > li:nth-last-of-type(1) {
                margin-bottom: 1rem;
            }
            a {
                color: #2d2d2d;
                &:hover {
                    color: #4e6f9b;
                }
            }
        }
        &__item.active {
            .side__box {
                max-height: 1000px;
                transition-duration: 1s;
            }
            i {
                transform: rotate(0);
            }
        }
    }
}
//table
.cs-side[data-style="2"] {
    .side {
        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 50px;
            border-bottom: solid 1px #95b9bd;
            cursor: pointer;
            @include media-breakpoint-up(md) {
                font-size: 1.25rem;
            }
        }

        &__content {
            width: 100%;
            height: auto;
            overflow: hidden;
            transition: max-height;
            transition-duration: .3s;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            max-height: 0;

            a {
                color: #2d2d2d;
                &:hover {
                    color: #4e6f9b;
                }
            }
        }

        &__box .icon-icon_arrow {
            transition: .3s;
            transform: rotate(180deg);
        }

        &__box.active {
            .side__content {
                max-height: 1000px;
                transition-duration: 1s;
            }
            .icon-icon_arrow {
                transform: rotate(0);
            }
        }
    }
}
//最新消息
.cs-side[data-style="3"] {
    .side {
        &__title {
            position: relative;
            display: flex;
            justify-content: flex-start;
            font-weight: bold;
            background-color: $light;
            cursor: pointer;

            padding: 1rem 2.25rem;
            @include media-breakpoint-up(md) {
                padding: 1.375rem 3.375rem;
            }

            &::before {
                content: "\f067";
                position: absolute;
                left: 2rem;
                color: $primary;
                @include media-breakpoint-down(sm) {
                    left: 1rem;
                }
            }
            &:hover {
                background: $gray-300;
            }
        }
    
        &__content {
            width: 100%;
            height: auto;
            overflow: hidden;
            transition: max-height;
            transition-duration: .3s;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            max-height: 0;
            background-color: rgba(236, 241, 241, 0.9);
            padding: 0 2rem;
        }
    
        &__item {
            margin-bottom: 1rem;
            &.active {
                .side__title {
                    &::before {
                        content: "\f068";
                    }
                }
                .side__content {
                    max-height: 500px;
                    transition-duration: 1s;
                }
            }
        }
    }
}