//會員訂單資訊
.cs-table[data-style="1"] {
    .table__title {
        color: #fff;
        background-color: $accent;
        font-size: 1.25rem;
        padding: 1rem 2rem;
        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
            padding: 1rem 3rem;
        }
    }
    .table__body {
        padding: 1rem 1.5rem;
        @include media-breakpoint-up(md) {
            padding: 2rem 3rem;
        }
        dd,dt {
            line-height: 1.42857;
        }
        dd {
            margin-left:0;
        }
        .dl-horizontal dd:after,.dl-horizontal dd:before {
            content: " ";
            display:table;
        }
        .dl-horizontal dd:after{
            clear:both;
        }
        .dl-horizontal dt{
            float: left;
            clear: left;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 500;
        }
        .dl-horizontal dd {
            margin-left: 125px;
        }
    }
}
//購物車課程明細
.cs-table[data-style="2"] {
    .table {
        width: 100%;
        &__head {
            font-weight: bold;
        }
        &__head, &__item{
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            width: 100%;
            padding: .5rem 0;
            &-td {
                &:nth-child(1) {
                    width: calc((100% - 40px) * .40);
                    @include media-breakpoint-up(md) {
                        width: calc((100% - 40px) * .20);
                    }
                }
                &:nth-child(2){
                    width: calc((100% - 40px) * .60);
                    padding: 0 10px;
                    @include media-breakpoint-up(md) {
                        width: calc((100% - 40px) * .80);
                    }
                }
                &:nth-last-child(1) {
                    width: 40px;
                    text-align: center;
                }
            }
        }
    }
}
//會員訂單查詢
.cs-table[data-style="3"] {
    .table__head {
        font-weight: bold;
        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }

    .table__head, .table__item{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        border: 1px solid #95b9bd;
        margin-bottom: 1rem;
        padding: 1rem;
        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            margin-bottom: 0;
            padding: 1rem 0;
        }
        &-td {
            @include media-breakpoint-up(md) {
                width: 20%;
            }
        }
        &--btn {
            text-align: center;
            .btn {
                width: auto;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    border-radius: 0;
                    margin-top: 1rem;
                }
            }
        }
    }
    .table__item {
        &:nth-last-of-type(1) {
            @include media-breakpoint-up(md) {
                border-bottom: 0;
            }
        }
        @include media-breakpoint-down(sm) {
            box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.0);

            &--serial::before {
                content: "訂單編號";
                margin-right: 1rem;
            }
            &--process::before {
                content: "處理進度";
                margin-right: 1rem;
            }
            &--method::before {
                content: "付款方式";
                margin-right: 1rem;
            }
            &--count::before {
                content: "訂單金額";
                margin-right: 1rem;
            }
            &--date::before {
                content: "購買時間";
                margin-right: 1rem;
            }
        }
    }
}
//會員訂單資訊 -> 訂單課程資訊
.cs-table[data-style="4"] {
    .table__head {
        font-weight: bold;
        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }

    .table__head, .table__item{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        border: 1px solid #95b9bd;
        margin-bottom: 1rem;
        padding: 1rem;
        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            margin-bottom: 0;
            padding: 1rem 0;
        }
        &-td {
            @include media-breakpoint-up(md) {
                width: 25%;
            }
        }
        &--btn {
            text-align: center;
            .btn {
                width: auto;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    border-radius: 0;
                    margin-top: 1rem;
                }
            }
        }
    }
    .table__item {
        &:nth-last-of-type(1) {
            @include media-breakpoint-up(md) {
                border-bottom: 0;
            }
        }
        @include media-breakpoint-down(sm) {
            box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.0);

            &--course::before {
                content: "課程套裝名稱";
                margin-right: 1rem;
            }
            &--sum::before {
                content: "商品價格";
                margin-right: 1rem;
            }
            &--start::before {
                content: "影片觀看起始日期";
                margin-right: 1rem;
            }
            &--end::before {
                content: "影片觀看結束日期";
                margin-right: 1rem;
            }
        }
    }
}
//會員訊息
.cs-table[data-style="5"] {
    .table__head {
        font-weight: bold;
        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }

    .table__head, .table__item{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        border: 1px solid #95b9bd;
        margin-bottom: 1rem;
        padding: 1rem;
        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            margin-bottom: 0;
            padding: 1rem 2rem;
        }
        &-td {
            @include media-breakpoint-up(md) {
                &:nth-of-type(1) {
                    width: 80%;
                }
                &:nth-of-type(2) {
                    width: 20%;
                }
            }
        }
        &--btn {
            text-align: center;
            .btn {
                width: auto;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    border-radius: 0;
                    margin-top: 1rem;
                }
            }
        }
    }
    .table__item {
        @include media-breakpoint-up(md) {
            cursor: pointer;
            &:nth-last-of-type(1) {
                border-bottom: 0;
            }
            &:hover {
                background-color: $light;
            }
        }
        @include media-breakpoint-down(sm) {
            box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.0);

            &--type::before {
                content: "訊息標題";
                margin-right: 1rem;
            }
            &--date::before {
                content: "通知時間";
                margin-right: 1rem;
            }
        }
    }
}

//購物車 cart-step1
.cs-table[data-style="6"] {
    .order {
        &__head, &__item{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            @include media-breakpoint-down(sm) {
                padding: 1rem;
                border-bottom: 1px solid $gray-400;
                box-shadow: 0 0px 36px rgba(0, 0, 0, 0.1);
            }
            @include media-breakpoint-up(md) {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                margin-bottom: 0;
            }

            &-td {
                padding: 0 10px;

                @include media-breakpoint-down(sm) {
                    &:nth-child(1) {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;
                        font-weight: bold;
                        span {
                            order: -1;
                            margin-right: 1rem;
                        }
                    }
                    &:nth-child(5) {
                        position: absolute;
                        right: 0;
                    }
                }
                @include media-breakpoint-up(md) {
                    &:nth-child(1) {
                        width: calc((100% - 100px) * .50)
                    }
                    &:nth-child(2){
                        width: calc((100% - 100px) * .20);
                    }
                    &:nth-child(3), &:nth-child(4) {
                        width: calc((100% - 100px) * .15);
                    }
                    &:nth-child(5) {
                        text-align: center;
                        width: 100px;
                    }
                }
            }
        }
        &__head {
            display: none;
            @include media-breakpoint-up(md) {
                display: flex;
                font-size: 1.25rem;
                padding: 10px 30px;
                color: $white;
                background-color: $accent;
            }
        }
        &__item {
            position: relative;
            &:nth-last-of-type(1) {
                @include media-breakpoint-up(md) {
                    border-bottom: 0;
                }
            }
            @include media-breakpoint-down(sm) {
                &--class::before {
                    content: "堂數";
                    margin-right: 2rem;
                }
                &--origin::before {
                    content: "原價";
                    margin-right: 2rem;
                }
                &--special::before {
                    content: "特價";
                    margin-right: 2rem;
                }
            }
        }
        .icon-icon_arrow {
            transform: rotate(-90deg);
        }
    }
    .side__box {
        @include media-breakpoint-down(sm) {
            margin-bottom: 1rem;
            border: 1px solid #95b9bd;
        }
    }
    .side__title {
        font-size: 1rem;
        @include media-breakpoint-down(sm) {
            display: block;
            border-bottom: 0;
            height: auto;
        }
    }
}
.cs-table[data-style="7"] {
    display: table;
    border-collapse: separate;
    border-spacing: .5rem;
    width: 100%;
    dl {
        display: table-row;
    }
    dt,dd {
        display: table-cell;
    }
    dt {
        white-space: nowrap;
    }
    &.dl-align-right {
        dt,dd {
            display: table-cell;
            text-align: right;
        }
    }
}
//最新消息
.cs-table[data-style="8"] {
    .table__item {
        width: 100%;
        transition: .3s;
        box-shadow: 0 2px 4px 0 rgba(93, 93, 93, 0.4);
        border-bottom: solid 0.5px $light;
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            box-shadow: none;
            margin-bottom: 0;
            border-right: 0;;
            border-left: 0;;
        }

        &:hover {
            background-color: #fafafa;
        }
        > a {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 1.25rem 2rem;
            color: $black;
            text-decoration: none;
            justify-content: space-between;
            @include media-breakpoint-up(md) {
                justify-content: flex-start;
                padding: 1.25rem 0;
            }
            &::before {
                content: "";
                width: 45px;
                flex-basis: 45px;
                margin-left: 1rem;
                margin-right: 2rem;
                @include media-breakpoint-down(sm) {
                    position: absolute;
                    top: 10px;
                    left: -10px;
                    width: 36px;
                    margin: 0;
                }
            }
        }

        &.new {
            > a::before {
                height: 19px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position-x: center;
                background-position-y: center;
                background-image: url(../../assets/images/icon/icons-new.svg);
            }
        }

        &--date {
            order: 2;
            @include media-breakpoint-up(md) {
                width: 150px;
                flex-basis: 150px;
                order: 1;
                text-align: left;
            }
        }
        &--type {
            width: 120px;
            flex-basis: 120px;
            order: 1;
            @include media-breakpoint-up(md) {
                width: 150px;
                flex-basis: 150px;
                order: 2;
            }
        }
        &--title {
            flex:  1 0 100%;
            order: 3;
            @include media-breakpoint-up(md) {
                flex-basis: 0;
                order: 3;
                padding: 0;
            }
        }
    }
}
.cs-table[data-style="9"] {
    .course {
        &__head, &__item{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            @include media-breakpoint-down(md) {
                padding: .5rem;
                border-bottom: 1px solid $gray-400;
                box-shadow: 0 0px 36px rgba(0, 0, 0, 0.1);
            }
            @include media-breakpoint-up(md) {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                margin-bottom: 0;
            }

            &-td {
                padding: 0 10px;
                @include media-breakpoint-up(md) {
                    &:nth-child(1) {
                        width: calc((100% - 100px) * .90)
                    }
                    &:nth-child(2){
                        width: calc((100% - 100px) * .10);
                    }
                    &:nth-last-child(1) {
                        text-align: center;
                        width: 100px;
                    }
                }
            }
        }
        &__head {
            display: none;
            @include media-breakpoint-up(lg) {
                display: flex;
                font-size: 1.25rem;
                padding: 10px 30px;
                font-weight: bold;
            }
        }
        &__item {
            position: relative;
            &:nth-last-of-type(1) {
                @include media-breakpoint-up(md) {
                    border-bottom: 0;
                }
            }
            @include media-breakpoint-down(md) {
                &--subject::before {
                    content: "科目";
                    font-weight: bold;
                    margin-right: 1rem;
                }
                &--class::before {
                    content: "堂數";
                    font-weight: bold;
                    margin-right: 1rem;
                }
                &--icon {
                    position: absolute;
                    top: 1rem;
                    right: 0;
                }
            }
        }
        .icon-icon_arrow {
            transform: rotate(-90deg);
        }
    }
    .side__box {
        @include media-breakpoint-down(md) {
            margin-bottom: 1rem;
            border: 1px solid #95b9bd;
        }
    }
    .side__title {
        font-size: 1rem;
        @include media-breakpoint-down(md) {
            display: block;
            border-bottom: 0;
            height: auto;
        }
    }
    .side__content {
        @include media-breakpoint-up(md) {
            padding: 0 10%;
            background-color: rgba(218, 231, 237, 0.5);
        }
    }
}
.cs-table[data-style="10"] {
    .table {
        width: 100%;
        &__head {
            font-weight: bold;
        }
        &__head, &__item{
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            width: 100%;
            padding: .5rem 0;
            &-td {
                padding: 0 4px;
                &:nth-child(1) {
                    width: 60%;
                    margin-right: auto;
                    padding-left: 0;
                }
                &:nth-child(2), &:nth-child(3), &:nth-child(4){
                    width: 20%;
                }
            }
        }
    }
}